<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://mybatis.org/schema/mybatis-spring
        http://mybatis.org/schema/mybatis-spring.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.reignzzz.mavenssm.service" />

    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="load*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="select*" read-only="true"/>
            <tx:method name="*" read-only="false"/>
        </tx:attributes>

    </tx:advice>

    <aop:config>
        <aop:pointcut id="txPointcut" expression="execution(* com.reignzzz.mavenssm.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
    </aop:config>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.xml" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.reignzzz.mavenssm.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!--shiro 核心组件-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="cacheManager"/>
        <!--
            配置realm的认证策略，
            【注意】authenticator必须配置再realms之前，原因未研究。。。
        -->
        <property name="authenticator" ref="authenticator"/>
        <!--配置单个realm-->
        <!--<property name="realm" ref="shiroRealm"/>-->
        <!--配置多个realm-->
        <property name="realms">
            <list>
                <ref bean="shiroRealm"/>
                <ref bean="shiroRealm2"/>
            </list>
        </property>
        <!--<property name="rememberMeManager.cookie.maxAge" value="604800"/>-->
        <property name="rememberMeManager">
            <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager">
                <property name="cookie">
                    <bean class="org.apache.shiro.web.servlet.SimpleCookie">
                        <property name="name" value="rememberMe" />
                        <property name="maxAge" value="604800"/>

                    </bean>
                </property>
            </bean>
        </property>
    </bean>


    <bean id="authenticator" class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
        <property name="authenticationStrategy">
            <bean class="org.apache.shiro.authc.pam.AllSuccessfulStrategy"/>
        </property>
    </bean>

    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml" />
    </bean>

    <bean id="shiroRealm" class="com.reignzzz.mavenssm.shiro.ShiroRealm">
        <property name="credentialsMatcher" >
            <!--使用shiro的密码验证规则-->
            <!--<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
                <property name="hashIterations" value="1024" />
                <property name="storedCredentialsHexEncoded" value="true"/>
            </bean>-->
            <!--使用自定义的密码验证规则-->
            <bean class="com.reignzzz.mavenssm.shiro.CustomCredentialsMatcher" />
        </property>
    </bean>

    <bean id="shiroRealm2" class="com.reignzzz.mavenssm.shiro.ShiroRealm2">
        <property name="credentialsMatcher" >
            <bean class="com.reignzzz.mavenssm.shiro.CustomCredentialsMatcher2" />
        </property>
    </bean>

    <!--shiro的拦截规则-->
    <!--注意：这个bean的id必须与在web.xml中配置的shiro拦截器的名称一致-->
    <!--原因是：web.xml配置的shiro拦截器的代理，根据名称去生成实体类-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--登录页面，未登录情况会跳转至该页面-->
        <property name="loginUrl" value="/shiros/login.do"/>
        <!--登录成功后跳转的页面-->
        <property name="successUrl" value="/view/index.jsp"/>
        <!--登录后权限不足跳转的页面-->
        <property name="unauthorizedUrl" value="/view/error/unauthorized.jsp"/>
        <!--设置拦截规则,xml格式写死在配置文件的方式-->
        <!--<property name="filterChainDefinitions">-->
            <!--<value>-->
                <!--&lt;!&ndash;url路径=拦截规则 anon匿名 authc需登录&ndash;&gt;-->
                <!--&lt;!&ndash;注意：规则是有顺序的，从上到下，拦截范围从小到打，匹配的顺序是从上到下的，匹配到之后后面的规则会忽略&ndash;&gt;-->
                <!--/favicon.ico = anon-->
                <!--/static/** = anon-->
                <!--/shiros/login.do = anon-->
                <!--/view/register.jsp = anon-->
                <!--/shiros/register.do = anon-->
                <!--/view/user/userlist.jsp = perms[userlist]-->
                <!--/view/user/adduser.jsp = perms[adduser]-->
                <!--/shiros/** = authc-->
                <!--/logout.do = logout-->
                <!--/** = authc-->
            <!--</value>-->
        <!--</property>-->
        <!--设置拦截规则,权限规则来自数据库-->
        <property name="filterChainDefinitionMap" ref="filterChainDefinitionMap" />
    </bean>

    <bean id="filterChainDefinitionMap" factory-bean="filterChainDefinitionMapFactory" factory-method="getFilterChainDefinitionMap"/>
    <bean id="filterChainDefinitionMapFactory" class="com.reignzzz.mavenssm.shiro.FilterChainDefinitionMapFactory"/>

</beans>